.content {
    height: 80vh;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
}

.content h3 {
    color: whitesmoke;
    text-align: center;
    margin-top: 10px;

}

.rememberMe {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    align-self: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    gap: 10px;
}

.rememberMe input {
    margin-right: 10px;
    cursor: pointer;
}

label {
    font-size: 18px;
}

.captcha {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.captcha img {
    width: 200px;

}